[Unit]
Description=Anyplace Indoor Navigation Service
After=network.target mongodb.service docker.service

[Service]
Type=simple
User=mesba7
WorkingDirectory=/home/mesba7/Documents/Github/E-JUST_interactive_Map
Environment="JDK_JAVA_OPTIONS=--add-opens=java.base/java.lang=ALL-UNNAMED --add-opens=java.base/java.util=ALL-UNNAMED --add-opens=java.base/java.lang.invoke=ALL-UNNAMED --add-opens=java.base/java.io=ALL-UNNAMED"
ExecStart=/home/mesba7/Documents/Github/E-JUST_interactive_Map/server/target/universal/stage/bin/anyplace -Dplay.http.secret.key=d8c1107795aed4224e57297df987ba9613255ddc3d423703cead2c80f1f58849 -Dapplication.secret=d8c1107795aed4224e57297df987ba9613255ddc3d423703cead2c80f1f58849 -Dhttp.port=9000
Restart=always
RestartSec=5
StandardOutput=append:/home/mesba7/Documents/Github/E-JUST_interactive_Map/anyplace.log
StandardError=append:/home/mesba7/Documents/Github/E-JUST_interactive_Map/anyplace.log

[Install]
WantedBy=multi-user.target
